# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.idea
/gradlew
/gradlew.bat
/.gradle

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.idea
*.iml
*.bat
*.gradlew

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
.gradle/7.1/dependencies-accessors/dependencies-accessors.lock

.gradle/7.1/dependencies-accessors/gc.properties

.gradle/7.1/executionHistory/executionHistory.bin

.gradle/7.1/executionHistory/executionHistory.lock

.gradle/7.1/fileChanges/last-build.bin

.gradle/7.1/fileHashes/fileHashes.bin

.gradle/7.1/fileHashes/fileHashes.lock

.gradle/7.1/gc.properties

.gradle/buildOutputCleanup/buildOutputCleanup.lock

.gradle/buildOutputCleanup/cache.properties

.gradle/buildOutputCleanup/outputFiles.bin

.gradle/checksums/checksums.lock

.gradle/checksums/md5-checksums.bin

.gradle/checksums/sha1-checksums.bin

.gradle/vcs-1/gc.properties

gradle/wrapper/gradle-wrapper.properties

gradlew

build/tmp/compileJava/previous-compilation-data.bin

build/resources/main/lang/exceptionmessages.properties

build/resources/main/lang/messages.properties

src/de/prog2/dungeontop/resources/ViewStrings.java
/build/resources/main/view/network.fxml
/build/resources/main/assets/14_Inventory.PNG

build/resources/main/assets/000_MainMenuBackground.png

build/resources/main/assets/00Unsainted.png

build/resources/main/assets/010_Warrior.png

build/resources/main/assets/01_Warrior.png

build/resources/main/assets/020_Magician.png

build/resources/main/assets/02_Magician.png

build/resources/main/assets/030_Rogue.png

build/resources/main/assets/040_RandomEventRoom.png

build/resources/main/assets/050_Soul.PNG

build/resources/main/assets/060_Heart.png

build/resources/main/assets/070_ArenaRoom.png

build/resources/main/assets/080_Forge.png

build/resources/main/assets/090_LavaPond.png

build/resources/main/assets/100_WallCorner.png

build/resources/main/assets/110_Wall.png

build/resources/main/assets/120_Passage.png

build/resources/main/assets/130_Center.png

build/resources/main/assets/140_Inventory.PNG

build/resources/main/assets/150_Settings.png

build/resources/main/assets/160_BossMonster.png

build/resources/main/assets/170_NpcRoomButton.png

build/resources/main/assets/180_Scroll.png

build/resources/main/assets/190_Player.png

build/resources/main/assets/200_placeholder.PNG

build/resources/main/assets/210_BackgroundPlaceholder.jpg

build/resources/main/assets/220_bricks.png

build/resources/main/assets/230_pavement.png

build/resources/main/assets/240_Aethereal_Planes_red.png

build/resources/main/assets/400_EntityBackground.png

build/resources/main/assets/410_BeeOhm.png

build/resources/main/assets/420_Centislide.png

build/resources/main/assets/430_Creep Eye.png

build/resources/main/assets/440_Deep Crab.png

build/resources/main/assets/450_Glaring Sting.png

build/resources/main/assets/460_Gemshell.png

build/resources/main/assets/470_Moe.png

build/resources/main/assets/480_Skitter.png

build/resources/main/assets/490_CardBackground.png

build/resources/main/assets/500_CardDetailBackground.png

build/resources/main/assets/510_Movement_Icon.png

build/resources/main/assets/520_Attack_Icon.png

build/resources/main/assets/530_SummonCost_Icon.png

build/resources/main/assets/540_Rank1.PNG

build/resources/main/assets/550_Rank2.PNG

build/resources/main/assets/560_Rank3.PNG

build/resources/main/assets/570_Rank4.PNG

build/resources/main/assets/580_Rank5.PNG

build/resources/main/assets/590_Rank6.PNG

build/resources/main/assets/600_selectherobg.png

build/resources/main/assets/610_WARRIOR.png

build/resources/main/assets/630_ROGUE.png

build/resources/main/assets/640_WIZARD.png

build/resources/main/assets/650_Inventory_Background.jpg

build/resources/main/assets/660_itemsampleimage.png

build/resources/main/assets/700_TestSpell.png

build/resources/main/assets/800_Close.png

build/resources/main/assets/910_SoundICO.png

build/resources/main/assets/920_SettingsBackground.png

build/resources/main/assets/930_MMEP.gif

build/resources/main/assets/940_MMHSE.gif

build/resources/main/assets/950_MMPEB.gif

build/resources/main/assets/960_MMAUR.gif

build/resources/main/assets/970_MMAU.gif

build/resources/main/assets/980_MMPA.gif

build/resources/main/assets/990_MMBGM.wav

build/resources/main/view/inventory.fxml

build/resources/main/view/ItemClicked.fxml

build/resources/main/view/ItemView.fxml

build/resources/main/view/lobby.fxml

build/resources/main/view/mainmenue.fxml

build/resources/main/view/selectHero.fxml

build/resources/main/view/settings.fxml

build/resources/main/assets/03_Rogue.png

build/resources/main/assets/04_RandomEventRoom.png

build/resources/main/assets/05_Soul.PNG

build/resources/main/assets/06_Heart.png

build/resources/main/assets/07_ArenaRoom.png

build/resources/main/assets/08_Forge.png

build/resources/main/assets/09_LavaPond.png

build/resources/main/assets/10_WallCorner.png

build/resources/main/assets/11_Wall.png

build/resources/main/assets/12_Passage.png

build/resources/main/assets/13_Center.png

build/resources/main/assets/15_Settings.png

build/resources/main/assets/16_BossMonster.png

build/resources/main/assets/17_NpcRoomButton.png

build/resources/main/assets/18_Scroll.png

build/resources/main/assets/19_Player.png

build/resources/main/assets/20_placeholder.PNG

build/resources/main/assets/21_BackgroundPlaceholder.jpg

build/resources/main/assets/22_bricks.png

build/resources/main/assets/23_pavement.png

build/resources/main/assets/24_Aethereal_Planes_red.png

build/resources/main/assets/40_EntityBackground.png

build/resources/main/assets/41_BeeOhm.png

build/resources/main/assets/42_Centislide.png

build/resources/main/assets/43_Creep Eye.png

build/resources/main/assets/44_Deep Crab.png

build/resources/main/assets/45_Glaring Sting.png

build/resources/main/assets/46_Gemshell.png

build/resources/main/assets/47_Moe.png

build/resources/main/assets/48_Skitter.png

build/resources/main/assets/49_CardBackground.png

build/resources/main/assets/50_CardDetailBackground.png

build/resources/main/assets/51_Movement_Icon.png

build/resources/main/assets/52_Attack_Icon.png

build/resources/main/assets/53_SummonCost_Icon.png

build/resources/main/assets/54_Rank1.PNG

build/resources/main/assets/55_Rank2.PNG

build/resources/main/assets/56_Rank3.PNG

build/resources/main/assets/57_Rank4.PNG

build/resources/main/assets/58_Rank5.PNG

build/resources/main/assets/59_Rank6.PNG

build/resources/main/assets/60_selectherobg.png

build/resources/main/assets/61_WARRIOR.png

build/resources/main/assets/63_ROGUE.png

build/resources/main/assets/64_WIZARD.png

build/resources/main/assets/65_Inventory_Background.jpg

build/resources/main/assets/66_itemsampleimage.png

build/resources/main/assets/91SoundICO.png

build/resources/main/assets/92SBG.png

build/resources/main/assets/93MMEP.gif

build/resources/main/assets/94MMHSE.gif

build/resources/main/assets/95MMPEB.gif

build/resources/main/assets/96MMAUR.gif

build/resources/main/assets/97MMAU.gif

build/resources/main/assets/98MMPA.gif

build/resources/main/assets/99MMBGM.wav
