.header-label{
    -fx-font-size: 28;
    -fx-font-family: Hombre;
    -fx-font-weight: bold;
}
.status-label{
    -fx-font-size: 24;
    -fx-font-family: Hombre;
    -fx-text-fill: #fff;
    -fx-effect: dropshadow( one-pass-box, #000, 10, 1.0, 0, 0);
    -fx-font-weight: bold;
}
.description-label{
    -fx-font-size: 20;
    -fx-font-family: Hombre;
}