.button{
    -fx-background-image: url(button-background.png);
    -fx-background-color: transparent;
    -fx-background-size: cover;
    -fx-font-size: 25;
}

.button:hover{
    -fx-font-weight: bold;
    -fx-font-size: 28;
    -fx-background-size: cover;
    -fx-scale-x: 1.01;
    -fx-scale-y: 1.03;
}

.label{
    -fx-font-size: 18;
    -fx-font-family: Hombre;
}